{% extends 'base.html' %}
{% block body %}
  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('static/img/10.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>About</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>About</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row position-relative">

          <div class="col-lg-7 about-img" style="background-image: url(static/img/11.jpg);"></div>

          <div class="col-lg-7">
            <h2>NO GUTS NO GLORY</h2>
            <div class="our-story">
              <h4>Est 2022</h4>
              <h3>Our Story</h3>
              <p>I am a crime analytics startup, born out of a passion for using technology to fight crime.We began by analyzing public crime data and identifying patterns in criminal activity.</p>
              <ul>
                <li><i class="bi bi-check-circle"></i> <span> We created AI to predict where crimes are likely to occur.</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Alert the authorities if the crime is detected.</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Alert trustee's of a user in case of emergencies.</span></li>
              </ul>
              <p> Today, we are proud to be considered one of the leading companies in the field of crime analytics and to have helped reduce crime in the communities we serve.</p>

              <div class="watch-video d-flex align-items-center position-relative">
                <i class="bi bi-play-circle"></i>
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox stretched-link">Watch Video</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End About Section -->

    <!-- ======= Stats Counter Section ======= -->
    <section id="stats-counter" class="stats-counter section-bg">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-emoji-smile color-blue flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="128" data-purecounter-duration="1" class="purecounter"></span>
                <p>Days Spent</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-journal-richtext color-orange flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="7" data-purecounter-duration="1" class="purecounter"></span>
                <p>Projects</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-headset color-green flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="950" data-purecounter-duration="1" class="purecounter"></span>
                <p>Hours Of Works</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-people color-pink flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="1" data-purecounter-duration="1" class="purecounter"></span>
                <p>Hard Workers</p>
              </div>
            </div>
          </div><!-- End Stats Item -->

        </div>

      </div>
    </section><!-- End Stats Counter Section -->

        <!-- ======= Alt Services Section ======= -->
        <section id="alt-services" class="alt-services">
          <div class="container" data-aos="fade-up">
    
            <div class="row justify-content-around gy-4">
              <div class="col-lg-6 img-bg" style="background-image: url(static/img/12.jpg);" data-aos="zoom-in" data-aos-delay="100"></div>
    
              <div class="col-lg-5 d-flex flex-column justify-content-center">
                <h3>Crime intelligence can be used to</h3>
                <p>Crime intelligence, also known as criminal intelligence, is the process of gathering, analyzing, and disseminating information about criminal activity to help law enforcement agencies prevent, investigate, and solve crimes.</p>
    
                <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
                  <i class="bi bi-search flex-shrink-0"></i>
                  <div>
                    <h4><a href="" class="stretched-link">Criminal identification</a></h4>
                    <p>Crime identification refers to the process of determining characteristics of a crime, as well as identifying the person or group responsible for committing it. </p>
                  </div>
                </div><!-- End Icon Box -->
    
                <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
                  <i class="bi bi-yin-yang flex-shrink-0"></i>
                  <div>
                    <h4><a href="" class="stretched-link">Scope and Nature of Crimes</a></h4>
                    <p>The scope and nature of criminal activity refers to the types and frequency of crimes committed, as well as the characteristics of those who commit them</p>
                  </div>
                </div><!-- End Icon Box -->
    
                <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
                  <i class="bi bi-sign-dead-end flex-shrink-0"></i>
                  <div>
                    <h4><a href="" class="stretched-link">Potential Criminal Threats</a></h4>
                    <p>Criminal threat identification involves using various methods and tools to identify individuals or groups who may pose a threat to public safety.</p>
                  </div>
                </div><!-- End Icon Box -->
    
                <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
                  <i class="bi bi-graph-down-arrow flex-shrink-0"></i>
                  <div>
                    <h4><a href="" class="stretched-link">Crime Trends Analysis</a></h4>
                    <p>Crime trends refer to patterns or changes in the frequency and type of criminal activity over a specific period of time.</p>
                  </div>
                </div><!-- End Icon Box -->
    
              </div>
            </div>
    
          </div>
        </section><!-- End Alt Services Section -->


        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials section-bg">
          <div class="container" data-aos="fade-up">
    
            <div class="section-header">
              <h2>Testimonials</h2>
              <p>Quam sed id excepturi ccusantium dolorem ut quis dolores nisi llum nostrum enim velit qui ut et autem uia reprehenderit sunt deleniti</p>
            </div>
            
    
            <div class="slides-2 swiper">
              <div class="swiper-wrapper">
                {% for tes in testimonials %}
                <div class="swiper-slide">
                  <div class="testimonial-wrap">
                    <div class="testimonial-item">
                      <img src="{{tes.tes_image}}" class="testimonial-img" alt="">
                      <h3>{{tes.name}}</h3>
                      <h4>{{tes.occupation}}</h4>
                      <div class="stars">
                        <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                      </div>
                      <p>
                        <i class="bi bi-quote quote-icon-left"></i>
                        {{tes.tes_msg}}
                        <i class="bi bi-quote quote-icon-right"></i>
                      </p>
                    </div>
                  </div>
                </div><!-- End testimonial item -->
                {% endfor %}
              </div>
              <div class="swiper-pagination"></div>
            </div>
    
          </div>
        </section><!-- End Testimonials Section -->

    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Team</h2>
          <p>Most impeccable team that come through a lot of hardships in order to create this masterpiece are:</p>
        </div>

        <div class="row gy-5">

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="static/img/team/2.jpeg" class="img-fluid" style="width:196px;height:196px" alt="">
              <div class="social">
                <a href="/www.twitter.com/"><i class="bi bi-twitter"></i></a>
                <a href="/www.facebook.com/"><i class="bi bi-facebook"></i></a>
                <a href="/www.instagram.com/"><i class="bi bi-instagram"></i></a>
                <a href="/www.linkedin.com/"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Anish More</h4>
              <span>Founder</span>
              <p>The man who started it all who persevered to make it big</p>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="600">
            <div class="member-img">
              <img src="static/img/team/4.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href="/www.twitter.com/"><i class="bi bi-twitter"></i></a>
                <a href="/www.facebook.com/"><i class="bi bi-facebook"></i></a>
                <a href="/www.instagram.com/"><i class="bi bi-instagram"></i></a>
                <a href="/www.linkedin.com/"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Shrutika</h4>
              <span>Operation</span>
              <p>She made sure all the operations and working are carried out smoothly</p>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="static/img/team/1.jpeg" class="img-fluid" style="width:196px;height:196px" alt="">
              <div class="social">
                <a href="/www.twitter.com/"><i class="bi bi-twitter"></i></a>
                <a href="/www.facebook.com/"><i class="bi bi-facebook"></i></a>
                <a href="/www.instagram.com/"><i class="bi bi-instagram"></i></a>
                <a href="/www.linkedin.com/"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Madhura Bhatkar</h4>
              <span>Chief Executive Officer</span>
              <p>Who guided through the rough patch to lead to victory</p>
            </div>
          </div><!-- End Team Member -->



          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img src="static/img/team/3.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href="/www.twitter.com/"><i class="bi bi-twitter"></i></a>
                <a href="/www.facebook.com/"><i class="bi bi-facebook"></i></a>
                <a href="/www.instagram.com/"><i class="bi bi-instagram"></i></a>
                <a href="/www.linkedin.com/"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Varada Bapat</h4>
              <span>CTO</span>
              <p>Technology Expert who guided us through journey</p>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="500">
            <div class="member-img">
              <img src="static/img/team/5.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href="/www.twitter.com/"><i class="bi bi-twitter"></i></a>
                <a href="/www.facebook.com/"><i class="bi bi-facebook"></i></a>
                <a href="/www.instagram.com/"><i class="bi bi-instagram"></i></a>
                <a href="/www.linkedin.com/"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Anurag</h4>
              <span>Marketing</span>
              <p>He made our company well known by marketing via creative ways</p>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="400">
            <div class="member-img">
              <img src="static/img/team/6.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href="/www.twitter.com/"><i class="bi bi-twitter"></i></a>
                <a href="/www.facebook.com/"><i class="bi bi-facebook"></i></a>
                <a href="/www.instagram.com/"><i class="bi bi-instagram"></i></a>
                <a href="/www.linkedin.com/"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Janhavi</h4>
              <span>Accountant</span>
              <p>Who kept all the finances it check</p>
            </div>
          </div><!-- End Team Member -->





        </div>

      </div>
    </section><!-- End Our Team Section -->


  </main><!-- End #main -->
{% endblock body %}
