{% extends 'base.html' %}
{% block navservicesactive %}active{% endblock navservicesactive %}
{% block title %}service{% endblock title %}
{% block body %}
{% load static %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('static/img/14.jpg'); ">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>Services</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>Services</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

            <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="fa-solid fa-user-secret"></i>
              </div>
              <h3>Crime Detect</h3>
              <p>Crime detection refers to the process of identifying, investigating and gathering evidence of criminal activity using AI.</p>
              <a href="servicedetails" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-microchip"></i>
              </div>
              <h3>Crime Predict</h3>
              <p>Crime prediction refers to the use of data analysis and statistical modeling techniques to forecast where and when crime is likely to occur. </p>
              <a href="servicedetails" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-users-viewfinder"></i>
              </div>
              <h3>Crime Report</h3>
              <p>Reporting crime refers to the act of informing law enforcement officials about a criminal incident or suspicious activity.</p>
              <a href="servicedetails" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-newspaper"></i>
              </div>
              <h3>Crime News</h3>
              <p>Crime news refers to news articles, broadcasts, and other media that report on criminal activity and its impact on society.</p>
              <a href="servicedetails" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-bell"></i>
              </div>
              <h3>SOS</h3>
              <p>An SOS button, also known as a panic button. The purpose of an SOS button is to quickly and easily call for help in an emergency situation.</p>
              <a href="servicedetails" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="fa-solid fa-database"></i>
              </div>
              <h3>Crime Data</h3>
              <p>Crime data refers to information and statistics related to criminal activity, including the frequency, location, and type of crimes committed.</p>
              <a href="servicedetails" class="readmore stretched-link">Learn more <i class="bi bi-arrow-right"></i></a>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Servie Cards Section ======= -->
    <section id="services-cards" class="services-cards">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="100">
            <h3>Surveillance cameras:</h3>
            <p>Surveillance cameras can be used to monitor public spaces and deter criminal activity. They can also be used to identify suspects and gather evidence</p>
            <ul class="list-unstyled">
              <li><i class="bi bi-check2"></i> <span>Increased security</span></li>
              <li><i class="bi bi-check2"></i> <span>Remote monitoring</span></li>
              <li><i class="bi bi-check2"></i> <span>Evidence collection</span></li>
            </ul>
          </div><!-- End feature item-->

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="200">
            <h3>GPS tracking</h3>
            <p>GPS tracking can be used to track the movements of individuals, vehicles, and assets, helping to prevent crimes such as theft and kidnapping.</p>

            <ul class="list-unstyled">
              <li><i class="bi bi-check2"></i> <span>Location tracking</span></li>
              <li><i class="bi bi-check2"></i> <span>Route optimization</span></li>
              <li><i class="bi bi-check2"></i> <span>Fleet management</span></li>
              <li><i class="bi bi-check2"></i> <span>People Tracking</span></li>
            </ul>
          </div><!-- End feature item-->

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="300">
            <h3>Biometrics</h3>
            <p>Biometric technologies such as fingerprint scanners, facial recognition, and iris scanners can be used to enhance security and prevent identity fraud.</p>
            <ul class="list-unstyled">
              <li><i class="bi bi-check2"></i> <span>Increased security and fraud prevention</span></li>
              <li><i class="bi bi-check2"></i> <span>Real-time identification and authentication</span></li>
              <li><i class="bi bi-check2"></i> <span>Non-repudiation and accountability</span></li>
            </ul>
          </div><!-- End feature item-->

          <div class="col-lg-3 col-md-6" data-aos="zoom-in" data-aos-delay="400">
            <h3>AI-Enabled Security Systems</h3>
            <p>AI-enabled security systems can detect and respond to potential threats in real-time. This can include things like facial recognition, motion detection.</p>
            <ul class="list-unstyled">
              <li><i class="bi bi-check2"></i> <span>Predictive maintenance and self-diagnosis</span></li>
              <li><i class="bi bi-check2"></i> <span>Automated response to security breaches</span></li>
              <li><i class="bi bi-check2"></i> <span>Reduced need for human intervention</span></li>
            </ul>
          </div><!-- End feature item-->

        </div>

      </div>
    </section><!-- End Servie Cards Section -->

    <!-- ======= Alt Services Section ======= -->
    <section id="alt-services" class="alt-services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row justify-content-around gy-4">
          <div class="col-lg-6 img-bg" style="background-image: url(static/img/13.jpg);" data-aos="zoom-in" data-aos-delay="100"></div>

          <div class="col-lg-5 d-flex flex-column justify-content-center">
            <h3>Crime intelligence can be used to</h3>
            <p>Crime intelligence, also known as criminal intelligence, is the process of gathering, analyzing, and disseminating information about criminal activity to help law enforcement agencies prevent, investigate, and solve crimes.</p>

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-search flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Criminal identification</a></h4>
                <p>Crime identification refers to the process of determining characteristics of a crime, as well as identifying the person or group responsible for committing it. </p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-yin-yang flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Scope and Nature of Crimes</a></h4>
                <p>The scope and nature of criminal activity refers to the types and frequency of crimes committed, as well as the characteristics of those who commit them</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-sign-dead-end flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Potential Criminal Threats</a></h4>
                <p>Criminal threat identification involves using various methods and tools to identify individuals or groups who may pose a threat to public safety.</p>
              </div>
            </div><!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-graph-down-arrow flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Crime Trends Analysis</a></h4>
                <p>Crime trends refer to patterns or changes in the frequency and type of criminal activity over a specific period of time.</p>
              </div>
            </div><!-- End Icon Box -->

          </div>
        </div>

      </div>
    </section><!-- End Alt Services Section -->

    <section id="testimonials" class="testimonials ">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Testimonials</h2>
          <p>Quam sed id excepturi ccusantium dolorem ut quis dolores nisi llum nostrum enim velit qui ut et autem uia reprehenderit sunt deleniti</p>
        </div>
        

        <div class="slides-2 swiper">
          <div class="swiper-wrapper">
            {% for tes in testimonials %}
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="{{tes.tes_image}}" class="testimonial-img" alt="">
                  <h3>{{tes.name}}</h3>
                  <h4>{{tes.occupation}}</h4>
                  <div class="stars">
                    <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                  </div>
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    {{tes.tes_msg}}
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div><!-- End testimonial item -->
            {% endfor %}
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->

 
{% endblock body %}